.navigation
  .content.navigation-content
    .navigation-header
      = link_to "Ohana", root_path
    %ul.navigation-links
      %li.navigation-link= link_to t(".import"), sfadmin_import_jobs_path
      %li.navigation-link= link_to t(".browse"), sfadmin_organizations_path
      %li.navigation-link= link_to t(".sign_out"), destroy_admin_session_path, method: :delete
