@import "dashboard";
@import "bourbon";
@import "neat";

// bootstrap overrides
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}

body {
  padding-top: 60px;
}

.outer-container {
  $width: 1170px;

  @include outer-container;
  max-width: $width;
  width: $width;

  .organization-sidebar {
    @include span-columns(3 of 12);
  }

  .organization-form {
    @include span-columns(9 of 12);
  }
}

.organization-form {
  h1 {
    margin-bottom: $gutter;
  }

  form {
    overflow: hidden;
  }

  .input {
    @include fill-parent;
    margin-bottom: $gutter;
    overflow: hidden;
  }

  label {
    @include span-columns(2 of 9);
    text-align: right;
  }

  textarea,
  [type="text"] {
    padding: $gutter/2;
  }

  textarea,
  .array-input,
  .collection-select {
    @include span-columns(7 of 9);
    overflow: none;
  }

  .array-element,
  .checkbox {
    @include fill-parent;
    margin-bottom: $gutter/2;
    margin-top: 0;
    overflow: hidden;
  }

  .collection_check_boxes {
    @include fill-parent;
    text-align: left;
  }

  [type="submit"] {
    @include shift(2);
    @include span-columns(5 of 9);
    background-color: #428bca;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.4em;
    padding: $gutter/2;
    &:hover { background-color: #2a6496; }
  }
}

.label-finished-job {
  @extend .label-success;
}

.label-deleted-job {
  @extend .label-danger;
}

.label-new-job {
  @extend .label-primary;
}

.label-started-job {
  @extend .label-warning;
}

.label-record-invalid {
  @extend .label-danger;
}

.label-record-valid {
  @extend .label-primary;
}

.label-record-pending {
  @extend .label-warning;
}

.label-record-rejected {
  @extend .label-danger;
}

.label-record-approved {
  @extend .label-success;
}

table {
  ul.actions {
    list-style-type: none;
    padding-left: 0;
    li {
      display: inline;
    }
  }
}

.error {
  border: 1px solid red;
}
